.footer {
  @include module-space;

  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $c-black;

  &__inner {
    @include reset-list;
    @include container-medium;
    
    color: $c-white;
    display: flex;
    justify-content: flex-start;
  }

  ul li {
    margin-right: 1rem;
  }
}
